# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documents
*.md text diff=markdown
*.tex text diff=tex
*.pdf binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Scripts
*.sh text eol=lf