include LICENSE
include README.md
include requirements.txt
recursive-include figures *.png
recursive-include paper *.tex *.pdf
recursive-include paper/paper_assets *.png *.tex
recursive-include docs *.md